{{page-title "About"}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About CalEvents</h2>
  <p>
    Auctor fusce molestie hac id venenatis elit euismod proin, nascetur mi ac nulla non lectus class, in magna mattis
    ligula volutpat dapibus semper. Facilisi habitasse eu proin suspendisse elit diam volutpat venenatis taciti, purus
    faucibus ridiculus in turpis dictumst lorem viverra. Aliquam sem sagittis scelerisque nulla natoque venenatis rutrum
    faucibus eros, litora luctus libero nisi hendrerit finibus class lorem vulputate, sociosqu nec tortor inceptos duis
    ullamcorper ornare non. Tincidunt sed nisl aliquam leo, fringilla habitant velit pulvinar himenaeos, fermentum
    montes felis. Libero massa molestie duis per quisque nascetur phasellus proin consectetur, varius scelerisque nullam
    condimentum tortor magnis quis torquent, ipsum pharetra dis diam porttitor nibh vehicula curabitur.
  </p>

  {{#link-to "contact" class="button"}}
  Contact Us
  {{/link-to}}
</div>