{{page-title "Contact"}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Eget turpis semper per inceptos senectus ac fames hac finibus potenti, ante magnis accumsan efficitur bibendum
    aliquet gravida phasellus velit. Ridiculus cras litora integer nam convallis malesuada magna risus ante, sodales
    maecenas luctus vitae dictumst pretium donec massa dolor, quam tempus nullam leo potenti praesent primis venenatis.
    Mollis fusce egestas risus sit convallis habitasse montes curabitur auctor efficitur, lorem eleifend nibh sed primis
    imperdiet laoreet inceptos. Curabitur etiam proin adipiscing nascetur duis vulputate phasellus augue viverra feugiat
    nostra, dapibus dis habitant enim sem a maecenas ac himenaeos sagittis, facilisis semper dictumst dolor torquent
    vivamus inceptos turpis donec convallis. Aptent elementum venenatis urna sociosqu ornare curae senectus efficitur
    hac viverra, vestibulum montes quam sodales blandit aliquet lobortis nisl conubia. Ligula leo integer eleifend
    conubia vel metus quis montes, a magna mauris mattis ridiculus elementum sagittis cubilia purus, nunc ante
    adipiscing dictum potenti inceptos vestibulum. Orci class luctus facilisi cras id erat sociosqu feugiat interdum
    viverra penatibus tempus dapibus elementum, lacus eros neque fusce vitae platea sodales tristique maecenas
    sollicitudin efficitur felis mi. Vel nulla lectus enim platea blandit finibus morbi tempus praesent, massa
    condimentum primis aliquam sapien pulvinar torquent felis, auctor consequat fames mi cursus ex quisque vestibulum.
    Proin efficitur mollis sollicitudin et magna mi lobortis erat, litora ante commodo torquent libero morbi vel
    penatibus fames, phasellus primis pretium dolor aliquam egestas leo.
  </p>
  <address>
    CalEvents
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">test@calevents.com</a>
  </address>

  {{#link-to "about" class="button"}}
  About
  {{/link-to}}
</div>