{{page-title "Events"}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>

  Click on a user to start.
  {{#each @model as |item|}}
  <User @user={{item}} />
  {{/each}}

  <Calendar @data={{ model }} />
</div>